/*Para hacerlo responsivo*/
.grafico {
  width: 100%;
  height: 31.25em;
  margin: 0;
  padding: 0;
}

.text-justify {
  text-align: justify;
}

#logo {
  width: 150px;
  height: 50px;
  padding: 4px;
}

.graficoAmplio {

  width: 65.625em;
  height: 43.75em;
}

.graficoAmplio2 {
  width: 59.375em;
  height: 31.25em;

}

.graficoMapa {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 55em) {

  .grafico {
    width: 100%;

  }

  .graficoAmplio {
    width: 100%;
    height: 31.25em;
  }

  .graficoAmplio2 {
    width: 100%;
  }
}

/*Tamaño de la imagen*/

#img {

  max-width: 115px;
  max-height: 100px;
}

main{
  margin-top: 60px;
}
.item{
  scroll-margin-top: 10ex;
  
}
html{
  scroll-behavior: smooth;
}
#container {
  width:100%;
  height:650px;
  margin:0px;
  padding:0%;
}
#area {
  width:100%;
  height:650px;
  margin:0px;
  padding:0%;
}
#top10barrascomprension{
  width:100%;
  height:650px;
  margin:0px;
  padding:0%;
}

#top10barraslectura{
  width:100%;
  height:650px;
  margin:0px;
  padding:0%;
}
#heatmap, #heatmap2{
  width:100%;
  height:650px;
  margin:5px;
  padding:1px;

}
#pastel{
  width:100%;
  height:650px;
  margin:5px;
  padding:1px;


}
#barra3D{
  width:100%;
  height:650px;
  margin:0px;
  padding:0%;
}
#barra3D2{
  width:100%;
  height:650px;
  margin:0px;
  padding:0%;
}
#ResultadosPorSeccion{
   /* display:flex; */ 
}
.app-sidebar__user-designation{
  font-size: 15px;
  
}



